@font-face {
  font-family: 'Ambiant';
  src: url("Ambiant-Light.woff");
}

.playposition{
  position: absolute;
  left: 48%;
  right: 50%;
  padding-top: 75px;
}

.line{
  /* background: url('./media/line.png'); */
  width: 140px;
  height: auto;
  position: absolute;
  left: 45%;
  right: 50%;
  text-align: center;
  top: 250px;
}

.line img{
  width: 140px;
  height: auto;
}

  .mobileline{
    display: none;
  }

.aboutleft{
  position: absolute;
  left: 45%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  text-align: justify;
  text-justify: inter-word;
}

.aboutright{
  position: absolute;
  left: 73.5%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  text-align: justify;
  text-justify: inter-word;
}

p{
  font-family: "Ambiant";
}

.about{
  position: absolute;
  left: 49%;
  right: 50%;
  top:80%;
  padding-top: 70px;
  margin-left: -5px;
}

.about img{
  width: 35px;
  /* height: auto; */
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
    color: #0011ff
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('./media/rest.png') ;}

@media screen and (max-width: 767.98px) {

  p{
    font-family: "Ambiant";
    font-size: 80%;
    font-weight: bolder;
    text-align: left;
  }

  .aboutleft{
    position: absolute;
    width: 100%;
    left: 5%;
    top: 5%;
    transform: translate(0%, 0%);
    height: auto;
    text-align: left;
    text-justify: none;
  }

  .playposition{
    position: absolute;
    left: 25%;
    right: 50%;
    padding-top: 0px;
    top: 35%;
  }

  .about{
    position: absolute;
    left: 64%;
    top:50%;
    padding-top: 0px;
    margin-left: 0px;
  }

  .line{
    display: none;
  }

  .mobileline{
    position: absolute;
    text-align: center;
    top: 30%;
    left:12%;
  }

  .mobileline img{
    width: 300px;
    height: auto;
  }

  .aboutright{
    position: absolute;
    width: 100%;
    left: 5%;
    top: 62%;
    /* bottom:-10%; */
    transform: translate(0%, 0%);
    height: auto;
    text-align: left;
    text-justify: none;
  }
}
